/*

FONTS

*/
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:300i');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400');

$font: 'Fira Sans', sans-serif; 


/*

COLORS

*/

$black: #000000; 
$white: #fff;
$light-grey: #f7f7f7;
$blue: #33C5EC;

// NEW SET OF COLORS FOR BRANDING

$color-black: rgb(0,0,0); 
$color-light-grey: rgb(247,247,247);
$color-blue: #142132; 
$color-grey: #DDD9D9; 
$color-blue: #4C9B9B; 

/*

GRID: 

*/

$grid-width: 114rem; 
$gutter-vertical: 4rem; 
$gutter-horizontal: 2rem; 