.section-about {
  background-color: $black; 
  opacity: .9;
  padding-bottom: 5rem;
  // height: 100vh;

  &__container {
    max-width: 110rem;
    min-width: 350px;
    margin: 0 auto;
    text-align: center; 
    // background-color: aqua;
    
    &--left {
      width: 60%;
      display: inline-block;
      margin-right: 2.2rem;
    }

    &--imageContentRow {
      width: 100%;
      // margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &--image1 {
      width: 48%; 
      background-image: url(../images/portrait.jpg); 
      height: 30rem;
      background-position: bottom;
      background-size: cover; 
      display: inline-block; 
      padding: 1rem;
    }
    &--image2 {
      width: 48%; 
      background-image: url(../images/quoteExample.jpg); 
      height: 30rem;
      background-position: bottom;
      background-size: cover; 
      display: inline-block; 
      padding: 1rem;
    }
    &--image3 {
      width: 48%; 
      background-image: url(../images/mickeyExample.jpg);  
      height: 30rem;
      background-position: bottom;
      background-size: cover; 
      display: inline-block; 
      padding: 1rem;
    }
    &--content {
      width: 48%; 
      height: 30rem;
      border: solid white thin; 
      display: inline-block; 
      vertical-align: top;
      padding: .5rem;
      // margin-left: 1rem;
      // margin-right: 1rem;
      font-family: $font; 
      font-size: 1.5rem;
      color: grey;
      letter-spacing: .2rem;
      padding: 1rem;
    }
  }
}