.section-about {
  background-color: $light-grey;
  text-align: center;
  padding-bottom: 4rem;


  &__picture {
    position: relative;
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
  }

  &__picture img{
    height: 30rem;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    @include respond(phone) {
      height: 20rem;
      margin-top: 2rem;
    }
    &:hover {
      outline: .2rem solid $blue;
      transform: scale(1.05) translateY(-.5rem);
      z-index: 20;
      box-shadow: none;
    }
  }

  &__story {
    max-width: 95rem;
    margin: 0 auto;
    color: $black;
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 5rem;
    padding: 2rem 2rem;
    border: solid $blue thin;
    @include respond(phone) {
      max-width: 90%;
      margin-top: 2rem;
    }
  }
  &__story a {
    color: $blue;
    text-decoration: none;
  }
}

.section-barry {
  padding-bottom: 20rem;
  text-align: center;
  background-color: rgba($black, .9);
  @include respond(tab-port) {
    padding-bottom: 35rem;
  }
  @include respond(phone) {
    padding-bottom: 25rem;
  }
}
.section-barry p {
  color: $white;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  &:not(:last-child) {
    margin-top: 5rem;
  @include respond(tab-port) {
    margin-top: 0;
  }

  }
}

.section-projects {
  background-color: $light-grey;
  text-align: center;
  padding-bottom: 4rem;
}

.section-footer {
  background-color: rgba($black, .9);
  text-align: center;
  padding-bottom: 4rem;
}