.section-inBetween {
  &__container {
    background-color: black;
    height: 20rem;
  }
}

.quoteContainer {
  background-color: black;
  height: 20rem;
  padding: 2rem;

  &__quote {
    font-family: $font; 
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin-top: 4rem;
  }
}

.section-barry {
  height: 30rem;

  &__container {
    position: relative;
    background-color: $white;
    height: 30rem;

    &--picture {
      height: 25rem;
      width: 25%; 
      background-image: url(../images/barry.jpg);
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 2.5rem;
      right: 10rem;
    }
    &--contentContainer {
      position: absolute;
      color: $white; 
      width: 30%;
      height: 20rem;
      top: 5rem;
      left: 45rem;
    }
    &--title {
      position: absolute;
      left: 5rem;
      top: 12rem;
      color: $black; 
      letter-spacing: 1rem; 
      font-family: $font; 
      font-weight: 100;
      font-size: 3rem;
      text-transform: uppercase; 
      text-align: center; 
    }
    &--content {
      position: absolute;
      right: 3rem;
      color: $black;
      font-size: 1.5rem;
      font-family: $font; 
      letter-spacing: .2rem;
      font-weight: 100;
      padding: 2rem;
      text-align: center;
      border: solid $blue thin;
    }
  }
}