.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 48rem;
  
  @include respond(tab-port) {
    height: auto;
  }
  @include respond(phone) {
    height: auto;
  }

  
  &__side {
    height: 48rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    @include respond(tab-port) {
      position: relative;
      height: auto;
    }
    @include respond(phone) {
      position: relative;
      height: auto;
    }

    &--front {
      background-color: $light-grey;
      @include respond(tab-port) {
        padding-bottom: 4rem;
      }
      @include respond(phone) {
        padding-bottom: 4rem;
      }
    }
    &--back {
      background-color: $light-grey;
      transform: rotateY(180deg);
      @include respond(tab-port) {
        transform: rotateY(0);
      }
      @include respond(phone) {
        transform: rotateY(0);
      }
    }
  }
  &:hover &__side--front {
      transform: rotateY(-180deg);
      @include respond(tab-port) {
        transform: rotateY(0);
      }
      @include respond(phone) {
        transform: rotateY(0);
      }
  }

  &:hover &__side--back {
      transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 25rem;
    background-position: center;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    filter: grayscale(90%);
    @include respond(tab-port) {
      height: 30rem;
    }
    @include respond(phone) {
      height: 20rem;
    }
    
    &--1 {
        background-image: url(../images/jijengeacademy.png);
        
    }
    &--2 {
      background-image: url(../images/foodie.png);
      
    }
    &--3 {
      background-image: url(../images/codesling.png);
      
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $blue;
    padding: 2rem 0;
    margin: 0 auto;
    width: 75%;
    @include respond(tab-port) {
      padding: 1rem 0;
    }
    @include respond(phone) {
      padding: 1rem 0;
    }
  }
  &__details {
    font-size: 1.7rem;
    font-weight: 200;
    padding: 0 2rem;
    width: 75%;
    margin: 0 auto;
    @include respond(tab-port) {
      padding-top: 1rem;
    }
    @include respond(phone) {
      padding-top: 1rem;
    }
  }
  &__tech {
    height: 50%;
    @include respond(tab-port) {
      height: 30%;
    }
    @include respond(phone) {
      height: 25%;
    }

    &--links {
      margin-top: 2rem;
      &-css {
        height: 5rem !important;
        width: 4rem !important;
      }
      &-postgres {
        height: 5rem !important;
        width: 8rem !important;
      }
      @include respond(phone) {
        margin-top: 1rem;
      }
    }
    &--links img{
      height: 5rem;
      width: 6rem;
      filter: grayscale(100%);
      &:not(:last-child) {
        margin-right: 2rem;
      }
      @include respond(tab-port) {
        height: 4rem;
        width: 5rem;
      }
      @include respond(phone) {
        height: 3rem;
        width: 4rem;
      }
    }
  }
  &__code {
    margin-top: 2rem;
    display: inline-block;
    @include respond(phone) {
      margin-top: 1rem;
    }
    
    &:not(:last-child) {
      margin-right: 3rem;
      @include respond(phone) {
        margin-right: 1rem;
      }
    }
    &--tag {
      margin-top: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    &--demoTag {
      margin-top: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding-right: 1.2rem; 
    }
  }
}