.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  left: 22%;
  width: 50%; 
  
  &__side {
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 1.5rem;
    left: 3.7rem;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // border-radius: 3px;
    border: .7rem solid $white; 
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($black, .15);

    &--front {
      background-color: $white;
    }
    &--back {
      border: .5rem solid $white; 
      transform: rotateY(180deg);
      &-1 {
        background-color: gray;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    &--1 {
      background-image: url(../images/jijenge.png);
    }
    &--2 {
      background-image: url(../images/petFront.png);   
    }
    &--3 {
      background-image: url(../images/jijenge.png);
    }
    &--4 {
      background-image: url(../images/jijenge.png);
    }
  }

  //BACK STYLING 

  &__backCardContainer {
    // position: absolute;
    // background-color: aqua;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // width: 100%;

    &--backImage {
      width: 50%;
      display: inline-block;
      height: 100%;
      vertical-align: top;
    }
    &--backdescription {
      width: 50%; 
      display: inline-block;
      height: 100%;
      // background-color: whitesmoke; 
    }
    &--backTitle {
      text-transform: uppercase; 
      letter-spacing: 1.5rem;
      color: #ffff; 
      font-family: $font; 
      // background-color: teal;
      font-size: 2rem;
      margin-top: 5rem;
      text-align: center; 
    }
    &--backSubtitle {
      text-transform: uppercase; 
      color: #ffff; 
      font-family: $font; 
      font-size: 1.5rem;
      margin-top: 1rem;
      font-weight: 100; 
      text-align: center; 
    }
    &--backAppdescription {
      // background-color: slateblue;
      color: #ffff; 
      font-family: $font; 
      font-size: 1.3rem;
      margin-top: 1.7rem;
      font-weight: 100; 
      // padding-left: 2rem;
      display: inline-block;
      font-style: italic;
      text-align: center;
    }
    &--backLinks {
      text-align: center; 
      margin-top: 2rem;
    }
  }



  // &__heading {
  //   color: $white; 
  //   font-family: $font; 
  //   letter-spacing: 1rem;
  //   text-transform: uppercase;
  //   font-size: 2.5rem;
  //   padding: 1rem 0;
  //   // background-color: green;
  //   // text-align: center;
  //   padding-left: 2rem;
  //   // float: right;
  // }
  // &__subheading {
  //   display: block;
  //   color: $white; 
  //   font-family: $font; 
  //   font-size: 1.5rem;
  //   padding-bottom: 1rem;
  //   font-weight: lighter;
  //   padding-left: 2rem;
  // }

  // &__backContainer {
  //   // background-color: aqua;
  //   padding: 0 .5rem;

  //   &--sideImage {
  //     height: 20rem;
  //     width: 50%;
  //     background-image: url(../images/petView.png);
  //     background-size: cover;
  //     display: inline-block;
  //     background-color: aqua;
  //     padding: .5rem;
  //   }
  //   &--description {
  //     width: 50%; 
  //     color: $white; 
  //     font-family: $font;
  //     font-size: 1.2rem;
  //     font-style: italic;
  //     font-weight: lighter;
  //     padding: 0 2rem;
  //     display: inline-block; 
  //     vertical-align: top;
  //     background-color: aqua;
  //   }
  // }
  // &__links {
  //   padding: 2.5rem 0;
  //   text-align: center;

  //   &--github {
  //     display: inline-block;
  //     margin-right: 2.5rem;
      
  //   }
  //   &--demo {
  //     display: inline-block;
  //   }
  // }
}

.backCardImage {
  background-image: url(../images/petView.png);
  background-size: cover; 
  height: 76%;
  width: 95%;
  margin-left: .9rem;
  margin-top: 3.5rem;
}