.contact a {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.email {
  position: relative;
  display: inline-block;

  &__icon {
  }
  &__address {
    font-size: 3.5;
    position: absolute;
    left: -5%;
    top: 50%;
    @include respond(tab-port) {
      font-size: 2.5;
      left: -4%;
    }
    @include respond(phone) {
      font-size: 1;
      left: -10%;
    }
  }
  &__address a {
    text-decoration: none;
    opacity: 0.1;
    color: $white;
  }
}

.siteInfo {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 6rem;
  color: $white;
  letter-spacing: .2rem;
  @include respond(phone) {
    margin-top: 3rem;
    padding: 0 5rem;
  }
  &__primary a{
    color: $blue; 
    text-decoration: none;
  }
  &__secondary {
    display: inline;
    color: $white;
  }
}
