.contact a {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.email {
  position: relative;
  display: inline-block;

  &__icon {
  }
  &__address {
    font-size: 3.5;
    position: absolute;
    left: -5%;
    top: 50%;
  }
  &__address a {
    opacity: 0.1;
    color: $white
  }
}

.siteInfo {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 6rem;
  color: $white;
  letter-spacing: .2rem;
  &__primary a{
    color: $blue; 
    text-decoration: none;
  }
  &__secondary {
    display: inline;
    color: $white;
  }
}
