.container {
  &__image {
    background-image: url(../images/background.jpg);
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &--1 {
      color: $black; 
      position: absolute;
      left: 6rem;
      top: 10rem; 
      font-family: $font;
      font-weight: 500;
      font-size: 3rem;
    }
    &--2 {
      color: $black; 
      position: absolute;
      left: 6rem;
      top: 14.3rem; 
      width: 45rem;
      font-family: $font;
      font-weight: 100;
      font-size: 2.5rem;
      font-style: italic;
    }
  }
}

// .quote {
//   margin-top: 3rem;
//   font-size: 2.5rem;
//   text-align: center;
//   font-family: $font;
//   font-weight: 200;
//   font-style: italic; 
// }