.header {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;

  &__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);

  }
  &__greeting {
    height: 16.5rem;
    width: 100%;
    background-color: rgba($color-black, .7); 
    position: absolute;
    top: 30%;
    text-align: center;
    padding: 1rem 0;

    &--text {
      color: $white;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
      padding-top: .5rem;
    }
    &--nav {
      padding-top: 1.5rem;
    }   
    &--nav a{
      transition: transform .4s;
      display: inline-block;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
      padding: 1rem;
      color: $white;
      border: solid $blue thin;
      cursor: pointer;
      text-decoration: none;
      
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &:hover {
        background-color: $white; 
        color: $black;
        transform: translateY(-1.5rem) scale(1.03);
      }
    }
  }
}


